<div th:fragment="navigation">
  <nav class="navbar navbar-icon-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="/">Big brain</a>
      <ul class="navbar-nav mr-auto"> <li class="nav-item active"><a class="btn btn-outline-light" th:href="@{/welcome}">Home</a></li></ul>

      <ul class="nav navbar-nav navbar-right">
        <li class="nav-item"><a
                class="btn btn-outline-light" onclick="history.go(-1);">Back</a></li>
        <li class="nav-item"><a
                class="btn btn-outline-light" th:href="@{/profile}">Profile</a></li>
        <li  class="nav-item"><a
                class="btn btn-outline-light" th:href="@{/incidentmap}">Incidents</a></li>
        <li  class="nav-item"><a
                class="btn btn-outline-light" th:href="@{/admin/alluserrequests}">Requests</a></li>
        <li  class="nav-item"><a
                class="btn btn-outline-light" th:href="@{/admin/allbills}">Bills</a></li>
        <li  class="nav-item"><a
                class="btn btn-outline-light" th:href="@{/logout}">Logout</a></li>
      </ul>
    </div>
  </nav>
</div>