<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="/layui/css/layui.css" th:href="@{/layui/css/layui.css}">
  <script src="/layui/layui.js" th:src="@{/layui/layui.js}"></script>
  <script src="/js/jquery.js" th:src="@{/js/jquery.js}"></script>
</head>
<body>

<div class="layui-card">
  <div class="layui-card-header">
    <h3>Your requests</h3>
  </div>
  <div class="layui-card-body">
    <div th:if="${ not#lists.isEmpty(allUserRequests)}">
      <table class="layui-table">
        <tr>
          <th>Title</th>
          <th>Description</th>
          <th>Priority</th>
          <th>Status</th>
          <th>Request date</th>
          <th>Assigned Maintenance</th>
        </tr>
        <tr th:each="request : ${allUserRequests}">
          <td th:text="${request.title}"></td>
          <td th:text="${request.description}"></td>
          <td th:text="${request.priority}"></td>
          <td th:text="${request.status}"></td>
          <td th:text="${request.requestDate}"></td>
          <td>
            <a class="layui-btn layui-btn-sm layui-btn-danger" th:href="@{/admin/deleterequest/{requestIDPK}(requestIDPK=${request.requestIDPK})}">
              Delete
            </a>
            <a class="layui-btn layui-btn-sm" th:href="@{/admin/updaterequest/{requestIDPK}(requestIDPK=${request.requestIDPK})}">
              Edit
            </a>
        </tr>
      </table>
    </div>
    <a class="layui-btn layui-btn-sm" th:href="@{/user/requestform}">New request</a>
  </div>
</div>

</body>
</html>
