<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/layui/css/layui.css" th:href="@{/layui/css/layui.css}">
    <script src="/layui/layui.js" th:src="@{/layui/layui.js}"></script>
    <script src="/js/jquery.js" th:src="@{/js/jquery.js}"></script>
    <style>
        .flex-box{
            display: flex;
            align-items: center;
            justify-content: flex-start;
        }
    </style>
</head>
<body>

<div class="layui-card">
    <div class="layui-card-header">
        <h3>List of incidents</h3>
    </div>
    <div class="layui-card-body">

        <div id="map" style="width:100%; height: 400px;"></div>


        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA_yaxjGDKLtw8qlGU1FsVTafhZwyYT2PI&callback=Function.prototype"></script>


        <script>
            // initialize map
            const map_parameters = { center: {lat: 40.210108, lng: -76.775418}, zoom: 17 };
            const map = new google.maps.Map(document.getElementById('map'), map_parameters);
            let markers = [];
            let marker
            let marked
        </script>

        <div th:if="${ not#lists.isEmpty(allIncidents)}">
            <table class="layui-table">
                <tr>
                    <th>Label</th>
                    <th>Incident category</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Status</th>
                    <th>Date</th>
                </tr>
                <tr th:each="incident : ${allIncidents}">

                    <script>
                        markers.push({
                            incidentIDPK: [[${incident.incidentIDPK}]],
                            latitude: [[${incident.latitude}]],
                            longitude: [[${incident.longitude}]],
                            title: "[[${incident.title}]]",
                            description: "[[${incident.description}]]"
                        });
                        marker = markers[markers.length-1]
                        console.log(marker);
                        marked = new google.maps.Marker({
                            position: {lat: marker.latitude, lng: marker.longitude},
                            map: map,
                            label: {
                                color: '#000',
                                fontSize: '12px',
                                fontWeight: '600',
                                text: marker.incidentIDPK.toString()
                            }
                        });


                        marked.addListener('click', function() {
                            let infowindow = new google.maps.InfoWindow({
                                content: marker.title + '\n' + marker.description
                            });
                            infowindow.open(map, marked);
                        });

                    </script>

                    <td th:text="${incident.incidentIDPK}"></td>
                    <td th:text="${incident.category}"></td>
                    <td th:text="${incident.title}"></td>
                    <td th:text="${incident.description}"></td>
                    <td th:text="${incident.status}"></td>
                    <td th:text="${incident.incidentDate}"></td>
                </tr>
            </table>
        </div>
        <div class="flex-box">
            <h3>Incidents resolved last month: </h3> <span th:text = "${resolvedIncidents}"></span>
        </div>
        <div class="flex-box">
            <h3>New Incidents last month: </h3> <span th:text = "${newIncidents}"></span>
        </div>
        <a class="layui-btn layui-btn-sm" th:href="@{/incidentform}">Submit incident</a>
        <a class="layui-btn layui-btn-sm" th:href="@{/user/incidents}">My incidents</a>
    </div>
</div>

</body>
</html>
