<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="/layui/css/layui.css" th:href="@{/layui/css/layui.css}">
  <script src="/layui/layui.js" th:src="@{/layui/layui.js}"></script>
  <script src="/js/jquery.js" th:src="@{/js/jquery.js}"></script>
</head>
<body>

<div class="layui-card">
  <div class="layui-card-header">
    <h3>Request update form</h3>
  </div>
  <div class="layui-card-body">
    <form action="#" class="layui-form" th:action="@{/user/updaterequest}" method="post">
      <input type="hidden" th:field="*{requestToUpdate.requestUserIDFK}" >
      <input type="hidden" th:field="*{requestToUpdate.status}" >
      <input type="hidden" th:field="*{requestToUpdate.addressIDFK}" >
      <input type="hidden" th:field="*{requestToUpdate.maintenanceIdFK}" >
      <input type="hidden" th:field="*{requestToUpdate.requestIDPK}" >
      <div class="layui-form-item">
        <label class="layui-form-label">Priority</label>
        <div class="layui-input-block">
          <select class="layui-select" th:field = "*{requestToUpdate.priority}">
            <option th:each="priority : ${T(com.bigbrain.v1.models.Requests.Priorities).values() }"
                    th:value="*{priority.toString()}"
                    th:text="${priority}">
            </option>
          </select>
        </div>
      </div>
      <div class="layui-form-item">
        <label class="layui-form-label">Title</label>
        <div class="layui-input-block">
          <input type="text"
                 th:field="*{requestToUpdate.title}"  th:required="required" class="layui-input" />
        </div>
      </div>
      <div class="layui-form-item">
        <label class="layui-form-label">Description</label>
        <div class="layui-input-block">
          <input type="text" th:field="*{requestToUpdate.description}"   class="layui-input" />
        </div>
      </div>
      <div class="layui-form-item">
        <div class="layui-input-block">
          <button class="layui-btn" lay-submit >Submit update</button>
          <a class="layui-btn" href="/admin/alluserrequests" >Go back</a>
        </div>
      </div>
    </form>
  </div>
</div>

<script type="text/javascript" >

  layui.use('form')

</script>

</body>
</html>
