<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/layui/css/layui.css" th:href="@{/layui/css/layui.css}">
    <script src="/layui/layui.js" th:src="@{/layui/layui.js}"></script>
    <script src="/js/jquery.js" th:src="@{/js/jquery.js}"></script>
    <style>
        .flex-box{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        .layui-card-body{
            padding: 20px;
            box-sizing: border-box;
        }
    </style>
</head>
<body>

<div class="layui-card">
    <div class="layui-card-header">
        <h3>Welcome</h3>
    </div>
    <div class="layui-card-body">
        <div class="flex-box">
            <span>Welcome: </span><span th:text = "${user.firstName}"></span><br>
            <h1>You're google authenticated</h1>
        </div>
    </div>
</div>

</body>
</html>
